:root {
<<<<<<< HEAD
  --primary: #bceef8;
=======
  --primary: #bceef8; 
>>>>>>> cdc94cb (style: agregando algo de padding al contenedor)
  --primary-ultra-light: #e8f9fd;
  --primary-light: #baedf8;
  --primary-semi-light: #5dd6ee;
  --primary-medium: #18c4e7;
  --primary-semi-dark: #1189a2;
  --primary-dark: #0c6273;
  --primary-ultra-dark: #05272e;
  --primary-comp: #f8c4ba;
}
