@font-face {
  font-family: 'Monaspace-Neon';
  src: url('/gabocode/monaspace/Neon-Var.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Monaspace-Argon';
  src: url('/gabocode/monaspace/Argon-Var.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Monaspace-Neon';
}

h2 {
  align-self: center;
}

h2,
h3,
h4 {
  width: fit-content;
  margin: 16px 0;
  padding: 4px 0;
  border-bottom: 1px gray solid;
}

blockquote,
p {
  margin: 12px 0;
}

li > code,
h2 > code,
h3 > code,
p > code {
  font-size: inherit;
  background: #ccc;
  color: #222;
  border-radius: 4px;
}

blockquote {
  border-left: 4px solid lightblue;
  padding-left: 12px;
}

pre {
  font-family: 'Monaspace-Argon';
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  margin: 12px 0;
  width: 100%;
}

@media (width <= 768px) {
  pre {
    font-size: 12px;
  }
}
