@import './reset.css';
@import './variables.css';
@import './classes.css';

@font-face {
  font-family: 'Monaspace-Neon';
  src: url('/gabocode/monaspace/Neon-Var.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monaspace-Argon';
  src: url('/gabocode/monaspace/Argon-Var.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ajusted-Fallback';
  size-adjust: 130%;
  font-weight: normal;
  src: local(Arial);
}

body {
  font-size: var(--size-4);
  font-weight: normal;
  font-family: 'Monaspace-Neon', 'Ajusted-Fallback';
}

li > code,
h2 > code,
h3 > code,
p > code {
  font-size: inherit;
  background: var(--secondary);
  padding: var(--size-0);
}

blockquote {
  border-left: var(--size-1) solid var(--accent);
  padding-left: var(--size-3);
}

pre {
  font-family: 'Monaspace-Argon', 'Courier New', Courier, monospace;
  padding: var(--size-2);
  font-size: var(--size-4);
}

thead {
  background: var(--secondary);
}

th,
td {
  text-align: center;
  vertical-align: top;
  padding: var(--size-3);
  border: var(--size-0) solid var(--secondary);
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: var(--size-0) solid var(--secondary);
}
