---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <article>
    <h2>Referencia del Gabocode</h2>

    <p>
      Gabocode es la sintaxis que nos eseña el profesor Gabriel Díaz en Algoritmos I y II. Esta página está hecha con la
      intención de servir como referencia personal para consultar la sintaxis, casos de uso y resolución de ejercicios
    </p>
  </article>
</Layout>

<style>
  article {
    padding: 0 64px;
  }
</style>
