---
import Nav from './Nav.astro'
import { IconMenu2 as Burger } from '@tabler/icons-react'
---

<header>
  <a href="/gabocode">
    <h1>Gabocode</h1>
  </a>

  <button class="burger">
    <Burger />
  </button>

  <Nav />

  <script src="./script.js"></script>
</header>

<style>
  .burger {
    display: none;
    size: fit-content;
  }

  header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: solid #bbd 1px;
    padding: 12px;
  }

  a {
    text-decoration: none;
    height: inherit;
    color: inherit;
  }

  a,
  h1 {
    margin-right: auto;
  }

  h1 {
    color: inherit;
    font-size: 32px;
  }

  @media (width <= 768px) {
    .burger {
      display: block;
    }
  }
</style>
