---
import { IconMenu2, IconX } from '@tabler/icons-react'
---

<header>
  <a class="main-link" href="/gabocode">
    <h1>Gabocode</h1>
  </a>

  <button class="icon open-nav">
    <IconMenu2 height={"32px"} width={"32px"} />
  </button>

  <nav class="main-nav">
    <ul>
      <li>
        <button class="icon close-nav">
          <IconX height={"32px"} width={"32px"} />
        </button>
      </li>
      <li><a class="nav-link" href="/gabocode/referencia">Referencia</a></li>
      <li><a class="nav-link" href="/gabocode/ejercicios">Ejercicios</a></li>
      <li><a class="nav-link" href="/gabocode/sugerir-cambios">Sugerir cambios</a></li>
      <li><a class="nav-link" href="/gabocode/autor">Sobre mí</a></li>
    </ul>
  </nav>

  <script>
    const $navLinks: NodeListOf<HTMLLinkElement> = document.querySelectorAll('.nav-link')
    const location = window.location.pathname

    for (const $navLink of $navLinks) {
      const linkHref = $navLink.href
      const localPath = location.match(/\/gabocode\/[^\/]+/g) ?? ['']

      if (new RegExp(localPath[0]).test(linkHref)) {
        $navLink.classList.toggle('focused')
      }
    }

    const $openMenu = document.querySelector('.open-nav')
    const $closeMenu = document.querySelector('.close-nav')
    const $mainNav = document.querySelector('.main-nav')

    $openMenu?.addEventListener('click', () => {
      $mainNav?.classList.add('openned')
    })

    $closeMenu?.addEventListener('click', () => {
      $mainNav?.classList.remove('openned')
    })
  </script>
</header>

<style>
  button.icon {
    display: none;
    width: fit-content;
    height: fit-content;
  }

  ul, li {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
  }

  li {
    display: block;
  }

  ul, nav {
    display: flex;
    gap: 12px;
    align-items: baseline;
  }

  header {
    width: 100%;
    height: 96px;
    padding: 16px;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    position: sticky;
    top: 0;
    background: white;
  }

  a.main-link {
    margin-right: auto;
    color: inherit;
    text-decoration: none;
  }

  a.nav-link {
    color: #999;
    text-decoration: none;
    text-align: center;
    position: relative;

    padding: 12px 8px;
    transition:
      color 200ms ease-in-out;
  }

  a.nav-link:hover {
    color: blue;
  }

  a.focused {
    color: inherit;
    position: relative;
  }

  a.focused:hover {
    color: inherit;
  }

  /* a.focused::after { */
  /*   content: ''; */
  /*   text-align: center; */
  /*   position: absolute; */
  /*   bottom: 0; */
  /*   left: 50%; */
  /*   background: lightblue; */
  /*   height: 4px; */
  /*   width: 80%; */
  /*   transform: translateX(-50%); */
  /*   border-radius: 4px; */
  /* } */

  nav.main-nav.openned {
    right: 0;
  }

  @media (width <= 768px) {
    header {
      height: 64px;
      align-items: center;
    }

    nav.main-nav {
      background: white;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 220px;
      height: 100%;
      gap: 32px;
      transition: right ease-in-out 300ms;
    }

    ul, nav.main-nav {
      flex-direction: column;
    }

    button.icon {
      display: block;
    }
  }
</style>
