---
import { IconBrandX, IconBrandLinkedin, IconBrandGithub } from '@tabler/icons-react'
---

<ul>
  <li>
    <a
      href="https://github.com/RicJDev/gabocode"
      target="_blank"
    >
      <IconBrandGithub />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/ricjdev"
      target="_blank"
    >
      <IconBrandLinkedin />
    </a>
  </li>
  <li>
    <a
      href="https://x.com/RicJDev"
      target="_blank"
    >
      <IconBrandX />
    </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    margin-block: 0;
    padding: 0;
    gap: 16px;
  }

  li {
    display: block;
    padding: 0;
    margin-inline: 0;
    margin: 0;
  }

  @media (width <= 768px) {
    ul {
      display: none;
    }
  }
</style>
