---
import { IconBook, IconBarbell, IconQuestionMark, IconUser, IconX as Close } from '@tabler/icons-react'
---

<nav class="main-nav">
  <ul>
    <li class="close-button">
      <button>
        <Close />
      </button>
    </li>
    <li>
      <a href="/gabocode/referencia">
        <IconBook />
        <span> Referencia </span>
      </a>
    </li>
    <li>
      <a href="/gabocode/ejercicios">
        <IconBarbell />
        <span> Ejercicios </span>
      </a>
    </li>
    <li>
      <a href="/gabocode/sugerir-cambios">
        <IconQuestionMark />
        <span> Sugerir cambios </span>
      </a>
    </li>
    <li>
      <a href="/gabocode/autor">
        <IconUser />
        <span> Sobre el autor </span>
      </a>
    </li>
  </ul>
</nav>

<style>
  .close-button {
    display: none;
  }

  .accent {
    background: lightgray;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-block: 0;
    padding: 0;
  }

  li {
    display: block;
    padding: 0;
    margin-inline: 0;
    margin: 0;
  }

  a {
    color: inherit;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;

    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    transition:
      color ease-in-out 200ms,
      background ease-in-out 200ms;
  }

  a:hover {
    color: blue;
    background: lightblue;
  }

  @media (width <= 900px) {
    a {
      font-size: 12px;
    }
    display: block;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;

    transition:
      color ease-in-out 200ms,
      background ease-in-out 200ms;
  }

  a:hover {
    color: blue;
    background: lightblue;
  }

  @media (width <= 768px) {
    .close-button {
      display: block;
    }

    ul {
      background: inherit;
      flex-direction: column;
    }

    .main-nav {
      background: white;
      padding: 32px;
      border-radius: 4px;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      height: 100%;
      height: 100%;
      transition: right 300ms ease-out;
    }

    .oppened {
      right: 0;
    }
  }
</style>
