---
// import Close from '../../assets/close.svg'

import { IconBook, IconBarbell, IconQuestionMark, IconUser, IconX as Close } from '@tabler/icons-react'
---

<nav class="main-nav">
  <ul>
    <li class="close-button">
      <button>
        <Close />
      </button>
    </li>
    <li>
      <a href="/gabocode/referencia">
        <IconBook />Referencia
      </a>
    </li>
    <li><a href="/gabocode/ejercicios"> <IconBarbell />Ejercicios</a></li>
    <li><a href="/gabocode/sugerir-cambios"> <IconQuestionMark />Sugerir cambios</a></li>
    <li><a href="/gabocode/autor"> <IconUser />Sobre el autor</a></li>
  </ul>
</nav>

<style>
  .close-button {
    display: none;
    size: fit-content;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-block: 0;
    padding: 0;
    gap: 16px;
  }

  li {
    display: block;
    padding: 0;
    margin-inline: 0;
    margin: 0;
  }

  a {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 16px;
    max-width: 240px;
    text-align: center;

    transition: background ease-in-out 200ms;
  }

  a:hover {
    background: #ccf;
  }

  @media (width <= 768px) {
    .close-button {
      display: block;
    }

    ul {
      background: inherit;
      flex-direction: column;
    }

    .main-nav {
      background: white;
      padding: 32px;
      border-radius: 4px;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      height: 100%;
      transition: right 300ms ease-out;
    }

    .oppened {
      right: 0;
    }
  }
</style>
