---
import MemeCat from '../images/gato-meme.jpg'
---

<article class="stack">
  <slot>
    <h2>Página en desarrollo...</h2>
    <p>Todavía estoy trabajando en esto.</p>
    <img
      src={MemeCat.src}
      alt='Un gato diciendo "Deja yo me encargo"'
    />
  </slot>
</article>

<style>
  article {
    max-width: var(--size-15);
    margin: var(--size-4) auto;

    @media (width <= 680px) {
      max-width: calc(100vw - var(--size-6));
      padding: 0 var(--size-2);
    }
  }

  img {
    margin: auto;
  }
</style>
