<footer>
  <p>
    Por que estas leyendo esto?
  </p>
  <small>
    All rights reserved 2025
  </small>
</footer>

<style>
  footer {
    width: 100%;
    min-height: 64px;
    margin: auto;
    margin-bottom: 16px;
    place-items: center;
    font-size: small;
    text-align: center;
  }
</style>
