<footer>
  <p>Por que estas leyendo esto?</p>
  <small> All rights reserved 2025 </small>
</footer>

<style>
  footer {
    width: 100%;
    place-items: center;
    font-size: small;
    text-align: center;
    border-top: var(--primary) solid var(--size-1);
  }
</style>
