<footer>
  <p>Por que estas leyendo esto?</p>
  <small> All rights reserved 2025 </small>
</footer>

<style>
  footer {
    width: 100%;
    min-height: 64px;
    margin: 16px auto;
    border-top: solid #bbd 1px;
    place-items: center;
    font-size: small;
    text-align: center;
  }
</style>
