<footer>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptate atque beatae, assumenda repellat nemo
    necessitatibus optio saepe incidunt suscipit dolor sapiente odit at velit quo labore recusandae vel reiciendis.
  </p>
  <small>
    All rights reserved 2025
  </small>
</footer>

<style>
  footer {
    width: 90vw;
    min-height: 64px;
    margin: auto;
    margin-bottom: 16px;
    border: solid #88c 1px;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: small;
    text-align: center;
  }
</style>
