<header>
  <h1>Gabocode</h1>

  <nav>
    <ul>
      <li>
        <a
          class="nav-link"
          href="/gabocode"
          >Inicio</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    width: 100%;
    background: #fff;
    border-bottom: solid #bbd 1px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    transition: 100ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    color: inherit;
    text-align: center;
    padding: 8px;
  }

  a:hover {
    color: blue;
  }

  .nav-link::after {
    content: '';
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    width: 0;
    height: 4px;
    background: blue;
    transition: 100ms;
  }

  a:hover.nav-link::after {
    width: 60%;
  }
</style>
