---
import { IconMenu2, IconBook, IconBarbell } from '@tabler/icons-react'
---

<header>
  <a
    class="main-link"
    href="/gabocode"
  >
    <h1>Gabocode</h1>
  </a>

  <nav class="main-nav">
    <ul>
      <li>
        <a
          class="nav-link"
          href="/gabocode/referencia"
        >
          <IconBook className="icon" />
          <span> Referencia </span>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          href="/gabocode/ejercicios"
        >
          <IconBarbell className="icon" />
          <span> Ejercicios </span>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          href="/gabocode/sugerir-cambios"
        >
          <span> Sugerir cambios </span>
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          href="/gabocode/autor"
        >
          <span> Sobre mí </span>
        </a>
      </li>
    </ul>
  </nav>

  <button class="open-nav">
    <IconMenu2 className="open-nav__icon" />
  </button>

  <script>
    const $openMainNav = document.querySelector('.open-nav')
    const $mainNav = document.querySelector('.main-nav')

    $openMainNav?.addEventListener('click', () => {
      $openMainNav.classList.toggle('pressed')
      $mainNav?.classList.toggle('openned')
    })
  </script>
</header>

<style>
  :root {
    --header-height: var(--size-9);
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: var(--size-1);
    padding: var(--size-1);
  }

  a:hover {
    background: var(--link-hover);
  }

  a.nav-link {
    text-align: center;
    display: flex;
    gap: var(--size-1);
    align-items: center;
    padding: var(--size-2);
  }

  a.main-link {
    color: var(--primary);
    margin-left: 0;
  }

  button {
    border: 0;
    background: inherit;
    color: var(--accent);
    display: none;
  }

  button.pressed {
    color: var(--secondary);
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  ul,
  li {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
    display: block;
  }

  nav.openned {
    right: 0;
  }

  header {
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--size-3); 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 9;
    top: 0;

    background: var(--background);
    border-bottom: var(--size-1) solid var(--primary);
  }

  .icon {
    width: var(--size-5);
    height: var(--size-5);
  }

  .open-nav__icon {
    width: var(--size-6);
    height: var(--size-6);
  }

  @media (width <= 840px) {
    :root {
      --header-height: var(--size-8);
    }

    button {
      display: block;
    }

    nav {
      position: fixed;
      top: var(--header-height);
      padding: var(--size-4);
      width: 100%;
      right: -100%;
      height: 100%;
      z-index: 10;
      background: var(--background);
      transition: right ease-in-out 300ms;
    }

    nav ul {
      flex-direction: column;
    }

    a.nav-link {
      flex-direction: row;
    }

    ul > * + * {
      margin-block: var(--size-2);
    }
  }
</style>
