---
import { IconMenu2, IconBook, IconBarbell, IconQuestionMark, IconUser } from '@tabler/icons-react'
---

<header>
  <a class="main-link" href="/gabocode">
    <h1>Gabocode</h1>
  </a>

  <button class="open-nav">
    <IconMenu2 className='icon' />
  </button>

  <nav class="main-nav">
    <ul>
      <li>
        <a class="nav-link" href="/gabocode/referencia">
          <IconBook  className='icon'/>
          <span>
            Referencia
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="/gabocode/ejercicios">
          <IconBarbell className='icon'/>
          <span   >
            Ejercicios
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="/gabocode/sugerir-cambios">
          <IconQuestionMark className='icon' />
          <span>
            Sugerir cambios
          </span>
        </a>
      </li>
      <li>
        <a class="nav-link" href="/gabocode/autor">
          <IconUser className='icon' />
          <span>
            Sobre mí
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <script>
    const $navLinks: NodeListOf<HTMLLinkElement> = document.querySelectorAll('.nav-link')
    const location = window.location.pathname

    if (location != '/gabocode') {
      for (const $navLink of $navLinks) {
        const linkHref = $navLink.href
        const localPath = location.match(/\/gabocode\/[^\/]+/g) ?? ['']

        if (new RegExp(localPath[0]).test(linkHref)) {
          $navLink.classList.toggle('focused')
        }
      }
    }

    const $openMenu = document.querySelector('.open-nav')
    const $mainNav = document.querySelector('.main-nav')

    $openMenu?.addEventListener('click', () => {
      $openMenu.classList.toggle('pressed')
      $mainNav?.classList.toggle('openned')
    })
  </script>
</header>

<style>
  button {
    border: 0;
    background: inherit;
    color: var(--accent);
    display: none;
  }

  button.pressed {
    color: var(--secondary);
  }

  .icon {
    width: var(--size-5);
    height: var(--size-5);
  }

  ul, li {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
    display: block;
  }

  ul, nav {
    display: flex;
    align-items: baseline;
  }

  header {
    width: 100%;
    height: var(--size-9);
    padding: var(--size-5);

    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;

    background: var(--background);
    border-bottom: var(--size-1) solid var(--primary);
  }

  a {
    text-decoration: none;
  }

  a.main-link {
    color: var(--primary);
    margin-right: auto;
  }

  a.nav-link {
    color: var(--secondary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--size-2);
  }

  a.nav-link:hover {
    background: var(--link-hover);
  }

  a.focused {
    color: var(--accent);
  }

  nav.openned {
    right: 0;
  }

  @media (width <= 768px) {
    button {
      display: block;
    }

    header {
      align-items: center;
    }

    nav {
      position: fixed;
      top: var(--size-9);
      padding: var(--size-4);
      width: 100%;
      right: -100%;
      height: 100%;
      z-index: 10;
      background: var(--background);
      transition: right ease-in-out 300ms;
    }

    a.nav-link {
      flex-direction: row;
    }

    ul, nav {
      flex-direction: column;
    }

    ul > * + *,
    nav > * + * {
      margin-block: var(--size-2);
    }
  }
</style>
