---
import type { MarkdownInstance } from 'astro'

export interface Fronmatter {
  title: string
  index: number
}

interface Props {
  list: MarkdownInstance<Fronmatter>[]
}

const { list } = Astro.props
---

<ul>
  {
    list.map((post) => (
      <li>
        <a href={post?.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-block: 0;
    padding-inline: 0;
    gap: var(--size-3);
    height: 100%;
    width: 100%;
  }

  a,
  li {
    display: block;
  }

  a {
    text-decoration: none;
    color: inherit;
    border-radius: var(--size-1);
    padding: var(--size-2);
  }

  a:hover {
    background: var(--link-hover);
  }

  @media (width <= 970px) {
    ul {
      justify-content: center;
      gap: var(--size-4);
    }
  }
</style>
