---
import Close from '../assets/close.svg'
const matches = import.meta.glob('../pages/referencia/*.md', { eager: true})
const posts = Object.values(matches)
---

<aside>
  <ul>
    <li>
      <button
        class="close-list"
        onclick="closeSidebar()"
      >
        <Close
          width={32}
          height={32}
        />
      </button>
    </li>
    { posts.map((post) =>(
    <li>
      <a href={post?.url}>{post.frontmatter.title}</a>
    </li>
    ))

    }
  </ul>
</aside>

<style>
  .close-list {
    display: none;
    width: fit-content;
    height: fit-content;
  }

  aside {
    width: 192px;
    height: 100%;
    background: white;
    border-right: solid #ccf 1px;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    list-style-type: none;
    display: block;
  }

  a {
    display: block;
    font-weight: 600;
    min-height: 32px;
    padding: 12px;
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: blue;
  }

  @media (width <= 768px) {
    aside {
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      transition: right 300ms ease-out;
    }

    aside.show {
      right: 0;
    }

    .close-list {
      display: block;
    }
  }
</style>
