<aside>
  <ul>
    <li><a href="/gabocode/referencia/variables">Variables</a></li>
    <li><a href="/gabocode/referencia/condicionales">Estructuras condicionales</a></li>
    <li><a href="/gabocode/referencia/en_caso">Estructura condicional especial: En_Caso</a></li>
  </ul>
</aside>

<style>
  aside {
    width: 192px;
    height: 100%;
    position: fixed;
    top: 64px;
    left: 0;
    background: white;
    border-right: solid #ccf 1px;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    list-style-type: none;
    display: block;
  }

  a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    min-height: 32px;
    padding: 12px;
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: blue;
  }
</style>
