---
---

<div class="container">
  <main>
    <h1>Hola, mundo</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis fuga corrupti saepe sapiente ea praesentium esse,
      voluptatem fugit consectetur dolores mollitia facilis quae totam consequuntur repellat officiis eveniet
      dignissimos? Quam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt corrupti dignissimos et, dolores
      ex numquam architecto magnam voluptate voluptatum placeat omnis, nulla adipisci totam? Velit eligendi accusamus
      ducimus veniam perferendis.
    </p>
  </main>
</div>

<style>
  .container {
    min-height: 100vh;
  }
</style>
