---
import ReferenceLayout from '../../layouts/ReferenceLayout.astro'
---

<ReferenceLayout>
  <main>
    <h2>Referencia del gabocodigo</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum maxime exercitationem modi molestiae ipsum atque
      repudiandae sit quasi dignissimos error iure natus voluptates, soluta, ipsam dolores assumenda voluptatibus
      aliquam itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quibusdam accusantium ratione
      soluta autem numquam, beatae facilis vitae obcaecati. Minus dolor esse aspernatur est blanditiis eum ex quibusdam,
      repellat quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis fugit ullam facere hic
      incidunt. Voluptates facere expedita odit ex eligendi voluptas, velit quod cum minus distinctio laboriosam unde,
      ut in.
    </p>
  </main>
</ReferenceLayout>
