---
import List from '../components/List.astro'
import Article from '../components/Article.astro'
import Section from './Section.astro'
import type { MarkdownInstance } from 'astro'

interface Fronmatter {
  title: string
  index: number
}

const matches = import.meta.glob<MarkdownInstance<Fronmatter>>('../pages/ejercicios/*.md', { eager: true })
const exercises = Object.values(matches).toSorted((a, b) => a.frontmatter.index - b.frontmatter.index)
---
<Section sectionTitle='Ejercicios'>
  <List list={exercises} slot='section-nav' />
  <slot>
    <Article/>
  </slot>
</Section>


