---
import ReferenceList from '../components/ReferenceList.astro'
import Article from '../components/Article.astro'
import Section from './Section.astro'
---

<Section sectionTitle='Referencia'>
  <ReferenceList slot='section-nav' />

  <slot>
    <Article />
  </slot>
</Section>

<style>
</style>
