---
import Layout from './Layout.astro'
import ReferenceList from '../components/ReferenceList.astro'
import Article from '../components/Article.astro'
---

<Layout>
  <div>
    <ReferenceList />
    <Article>
      <slot />
    </Article>
  </div>
</Layout>

<style>
  div {
    display: flex;
    flex-direction: row;
  }

  article {
    margin: auto;
  }
</style>
