---
import List from '../components/List.astro'
import Article from '../components/Article.astro'
import Section from './Section.astro'
import type { MarkdownInstance } from 'astro'

interface Fronmatter {
  title: string
  index: number
}

const matches = import.meta.glob<MarkdownInstance<Fronmatter>>('../pages/referencia/*.md', { eager: true })
const posts = Object.values(matches).toSorted((a, b) => a.frontmatter.index - b.frontmatter.index)
---

<Section sectionTitle="Referencia">
  <List list={posts} slot="section-nav" />

  <slot>
    <Article />
  </slot>
</Section>
