---
import Layout from './Layout.astro'
import ReferenceList from '../components/ReferenceList.astro'
---

<Layout>
  <main>
    <ReferenceList />
    <article>
      <slot />
    </article>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: auto auto;
  }

  article {
    max-width: 768px;
    padding: 0 32px;
    display: flex;
    font-size: 24px;
    flex-direction: column;
    text-align: left;
  }
</style>
