---
import Layout from './Layout.astro'
import ReferenceList from '../components/ReferenceList.astro'
---

<Layout>
  <main>
    <ReferenceList />
    <article>
      <slot />
    </article>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: row;
  }

  article {
    padding: 32px;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
  }

  @media (width <= 768px) {
    article {
      padding: 0 2em;
      max-width: 95vw;
    }

    main {
      flex-direction: column;
    }
  }
</style>
