---
import Exercises from '../../layouts/Exercises.astro'
---

<Exercises>
  <h2>Bienvenido a los ejercicios</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias cumque veniam veritatis nisi quas omnis
    exercitationem sequi distinctio doloremque quo ipsa, enim a delectus hic, tempora incidunt explicabo atque tenetur.
  </p>
</Exercises>
